asgiref>=3.8
crispy-bootstrap4>=2024.10
Django>=4.1,<5.0
django-crispy-forms>=1.14
django-debug-toolbar>=3.2
flake8>=5.0
flake8-quotes>=3.3
flake8-variables-names>=0.0.5
mccabe>=0.7
pep8-naming>=0.13
pycodestyle>=2.9
pyflakes>=2.5
sqlparse>=0.5
tzdata>=2025.2